<div class="container">

	<%= render 'room_form', room: @room %>
	<div class="white-list">
		<h1>White List</h1>
		<% @room.white_lists.each do |elem| %>
			<% if elem.persisted? %>
				<p>
					<%= elem.user %>
					<span class="remove-user">
					<%= link_to 'Remove', room_white_list_path(@room, elem), class: 'btn btn-danger', data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to ban this user?"} %>
					</span>
				</p>
			<% end %>
		<% end %>
		<%= render 'white_list_form', room: @room %>
	</div>
</div>