<div class="container">
	<div class="container-head">
		<span class="breadcrumb"><%= link_to 'ROOMS', home_path %> / NEW</span>
		<div class="content">
			<h1>New Room</h1>
		</div>
	</div>
	<%= render 'room_form', room: @room %>
</div>