<% if not matches.nil? %>
    <% if matches.empty? %>
        <p>No Results :(</p>
    <% else %>
        <hr>
        <p class="btn"><%= matches.length %> Results</p>
        <% matches.each_with_index do |match, index| %>
            <%= render 'new_schedule_reservation', {new_reservation: match, index: index } %>
        <% end %>
    <% end %>
<% end %>
