<div class="container-body">
    <div class="rooms-cards">
        <div class="reservation-card card">
            <div class="card-body">
                <%= link_to 'Back', reservation_path(@reservation), class: "btn card-buttons" %>
                <%= render 'new_reservation' %>
            </div>
        </div>
    </div>
</div>