<div id="card-buttons">
    <%= link_to rooms_path do %>
        <%= render 'partials/eye_spy' %>
        <h1>Rooms</h1>
    <% end %>
    <%= link_to root_path do %>
        <%= render 'partials/schedule' %>
        <h1>Schedule</h1>
    <% end %>
</div>
<!-- <button><= link_to 'Normal login', user_session_path ></button> -->
    