$intra-blue: #00b0b2;
$intra-green: #5cb85c;
$intra-red: rgb(216, 99, 111);
$bg-light: #292D39;
$bg-dark: #121212;
$bg-transparent-dark: rgba(32, 32, 38, 0.5);
$bg-secondary: #bbbbbb;
$text-light: #f9f9f9;

#admin-body {
	.alerts {
		position: absolute;
		top: 0;
		background-color: $intra-red;
		padding: 1rem;
		display: inline-block;
		opacity: 0;
		animation: fade_out 5s linear 1;
		&:hover {
			opacity: 1;
		}
	}
	@keyframes fade_out {
	  0%   {opacity: 1}
	  80%  {opacity: 1}
	  100% {opacity: 0}
	}
	margin: 0;
	padding: 0;
	#admin-bar {
		background-color: $bg-light;
		width: 20vw;
		max-width: 200px;
		min-height: 100vh;
		display: inline-block;
		overflow-x: scroll;
		.menu {
			min-height: 100vh;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: start;
			align-content: center;
			justify-content: center;
			gap: 5rem;
			a {
				text-decoration: none;
				text-align: center;
				width: 90%;
				padding: 5%;
				border-radius: 1rem;
				background-color: $intra-blue;
				&:hover {
					background-color: rgba(0, 0, 0, 0.5);
					text-decoration: underline;
				}
			}
		}
	}
	#admin-container {
		min-height: 100vh;
		width: 80vw;
		max-width: 1600px;
		float: right;
		padding: 0;
		.container {
			min-height: 100vh;
			background-color: $bg-transparent-dark;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 1rem;
			align-items: center;
			form {
				background-color: $intra-blue;
				padding: 1rem;
				color: black !important;
				margin: auto;
				* {
					padding: 0.5rem;
				}
				input, select, textarea {
					color: black;
				}
				textarea {
					min-height: 100px;
				}
				.submit-button {
					background-color: $intra-green;
					border: 1px solid $bg-transparent-dark;
					border-radius: 0.25rem;
					width: 100%;
				}
			}
			.white-list {
				background-color: $bg-light;
				text-align: center;
				min-height: 300px;
				min-width: 200px;
				.remove-user {
					background-color: $intra-red;
					border-radius: 0.2rem;
					padding: 2px;
					&:hover {
						opacity: 0.8;
					}
				}
			}
			.card {
				margin: auto;
				.card-body {
					border-radius: 0.25rem;
					text-align: center;
					padding: 1rem;
					background-color: $intra-blue;
					h1 {
						a {
							padding: 3rem;
							text-decoration: none;
						}
					}
					.card-element {
						padding: 0.15rem;
						&:hover {
							background-color: rgba(0, 0, 0 ,0.5);
							border-radius: 0.25rem;
						}
					}
				}
			}
		}
	}
}