$intra-blue: #00b0b2;
$intra-green: #5cb85c;
$intra-red: rgb(216, 99, 111);
$bg-light: #292D39;
$bg-dark: #282828;
$bg-transparent-dark: rgba(32, 32, 38, 0.5);
$bg-secondary: #bbbbbb;
$text-secondary: rgb(94, 100, 105);
$text-light: #f9f9f9;
$bg-admin: rgb(242, 242, 242);

.flex-around, .flex-between {
	display: flex;
	flex-flow: row no-wrap;
	align-items: center;
}

.flex-around {
	justify-content: space-around;
}

.flex-between {
	justify-content: space-between;
}

.text-light {
	color: $text-light;
}

.text-secondary {
	color: $text-secondary;
}

.text-dark {
	color: $bg-dark;
}

.bold {
	font-weight: bold;
}

.btn {
	padding: 0.5rem;
	cursor: pointer;
	border: none;
	border-radius: 0.25rem;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.btn-blue {
	background-color: $intra-blue;
	color: $text-light;
	&:hover {
		background-color: #009091;
	}
}
.btn-dark {
	background-color: #313131;
}
.bg-dark {
	.card {
		.card-body {
			background: $bg-dark !important;
		}
		* {
			color: $text-light !important;
		}
		input, select {
			background: rgba(0, 0, 0, 0.25);
			border: none;
		}
		a {
			background-color: #313131 !important;
		}
	}
}
.card {
	.card-title {
		border-radius: 0.25rem 0.25rem 0 0;
		background: $bg-dark;
		display: block;
		margin: 0;
		padding: 0.5rem;
		color: $text-light;
	}
	.card-body {
		border-radius: 0 0 0.25rem 0.25rem;
		padding: 0.5rem;
		background: white;
		a {
			background-color: $bg-secondary;
		}
		form {
			.field {
				padding: 0.25rem 0;
				label {
					font-size: 80%;
					font-weight: bold;
					display: block;
					text-transform: uppercase;
					color: $text-secondary;
				}
				input, select {
					font-size: 120%;
					margin: 1rem 0;
					text-align: center;
					width: 100%;
					padding: 0.25rem 0;
				}
			}
			.submit-button {
				padding: 1rem;
			}
			.form-buttons {
				padding: 1rem 0;
				.clear-filter {
					background: lightgray;
				}
			}
		}
		.card-buttons {
			display: block;
			a {
				display: block;
				margin: 1rem 0;
				text-align: center;
			}
		}
	}
}

.admin-alerts {
	span {
		background-color: $intra-blue;
		display: block;
		padding: 0.15rem 0;
		text-align: center;
		color: $text-secondary;
		font-weight: bold;
	}
}

#admin-body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	#admin-navbar {
		height: 50px;
		background: $bg-dark;
		a {
			display: flex;
			flex-flow: row no-wrap;
			align-items: center;
			padding: 0 0.5rem;
			text-transform: uppercase;
			text-decoration: none;
			&:hover {
				background: grey;
				text-decoration: underline;
			}
		}
		* {
			height: 50px;
			color: $text-light;
			fill: $text-light;
		}
	}
	> footer {
		background: rgb(232, 232, 232);
		padding: 0.5rem 0;
		text-align: center;
		display: block;
	}
	#admin-container {
		background-color: $bg-admin;
		min-height: 95vh;
		.container-lead {
			padding: 1rem;
			.breadcrumb {
				color: lightgray;
				* {	color: lightgray;}
				.active-page {
					color: darkgray;
					* {	color: darkgray;}
				}
			}
			.buttons {
				.btn {
					display: inline;
					* {color: white;text-decoration: none;}
				}
			}
		}
		.container-new {
			margin: auto;
			display: block;
			text-align: center;
			max-width: 500px;
		}
		.container-home {
			text-align: center;
			margin: auto;
			display: block;
			max-width: 1600px;
		}
		.container-body .box .squeeze-table form, .container-new form {
			display: block;
			max-width: 500px;
			margin: auto;
			.field {
				margin-bottom: 0.5rem;
				label {
					display: block;
					color: $text-secondary;
				}
				input, select {
					width: 100%;
					padding: 0.25rem 0;
					margin: 0;
				}
				textarea {
					width: 100%;
					max-width: 100%;
					min-height: 75px;
				}
			}
			.submit-button {
				width: 100%;
			}
		}
		.container-body {
			display: flex;
			flex-flow: row-reverse wrap;
			align-items: stretch;
			justify-content: space-between;
			padding-bottom: 2.5rem;
			.box {
				background: white;
				height: fit-content;
				.squeeze-table
				{
					padding: 1rem;
					overflow-y: scroll;
					table {
						background-color: rgb(222, 225, 220);
						border-spacing: 1px;
						width: 100%;
						thead {
							outline: 1px lightgray solid;
							background-color: $bg-admin;
							tr th {
								padding: 0.15rem 0;
								text-transform: capitalize;
							}
						}
						tbody {
							outline: 1px lightgray solid;
							tr:nth-child(odd) {
								background-color: rgb(255, 255, 255);
							}
							tr:nth-child(even) {
								background-color: rgb(242, 244, 240);
							}
							tr:hover {
								background-color: rgba(242, 244, 240, 0.4);
							}
							tr td {
								text-align: center;
								padding: 0.5rem;
							}
							a {
								color: $text-secondary;
								&:hover {
									color: black;
								}
							}
						}
					}
					.pagination {
						display: flex;
						padding: 2rem 0;
						flex-flow: row no-wrap;
						gap: 1rem;
						align-items: center;
						justify-content: center;
						a {
							border: 1px $bg-dark solid;
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 75%;
							font-weight: bold;
							color: black;
							text-decoration: none;
							&:hover {
								text-decoration: underline;
								background-color: rgba(0, 0, 0, 0.1);
							}
						}
						.active {
							color: white;
							background-color: $bg-dark;
						}
						.page {
							border-radius: 50%;
							width: 20px;
							height: 20px;
						}
						.control {
							border-radius: 1rem;
							height: 20px;
							width: auto;
							padding: 0 0.5rem;
						}
					}
					.resources {
						* {
							font-size: 80%;
						}
						a {
							margin: 0 0.15rem;
						}
					}

				}
			}
			.filters {
				.card {
					margin: 0 1rem;
				}
			}
		}
	}
}

// Minimum size for computer
@media screen and (min-width: 768px) {
	#admin-body #admin-container .container-body {
		.filters { width: 20vw}
		.box { width: 80vw}
	}
}

// Maximum size for phone
@media screen and (max-width: 767px) {
	#admin-body #admin-container .container-body {
		gap: 2rem;
		.filters, .box {
			width: 100%;
		}
	}
}
