@import "simple_calendar";
$intra-blue: #00b0b2;
$intra-green: #5cb85c;
$intra-red: rgb(216, 99, 111);
$bg-dark: #292D39;
$bg-darker: #121212;
$bg-transparent-dark: rgba(32, 32, 38, 0.5);
$bg-secondary: #bbbbbb;
$text-light: #f9f9f9;
$text-secondary: #424242;

.bg-light {
		/* Works on Firefox */
	* {
	  scrollbar-width: thin;
		scrollbar-color: gray transparent;
	}
	/* Works on Chrome, Edge, and Safari */
	*::-webkit-scrollbar {
	  width: 5px;
	  height: 100%;
	}
	*::-webkit-scrollbar-track {
	  background: transparent;
	}
	*::-webkit-scrollbar-thumb {
	  background-color: $bg-dark;
	  border-radius: 20px;
	  border: 3px solid transparent;
	}
	* {
		color: $text-secondary;
	}	
	.rooms42-container {
		outline: 2px darkgray solid;
		background-color: rgba(255, 255, 255, 0.9);
	}
	.hoverable:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}
	.calendar-container .calendar {
		background-color: rgba(100, 140, 120, 0.5);
		outline: 1px gray solid;
	}
}

.bg-dark {
	/* Works on Firefox */
	* {
	  scrollbar-width: thin;
		scrollbar-color: rebeccapurple transparent;
	}
	/* Works on Chrome, Edge, and Safari */
	*::-webkit-scrollbar {
	  width: 5px;
	  height: 100%;
	}
	*::-webkit-scrollbar-track {
	  background: transparent;
	}
	*::-webkit-scrollbar-thumb {
	  background-color: rebeccapurple;
	  border-radius: 20px;
	  border: 3px solid transparent;
	}
	* {
		color: $text-light;
		fill: $text-light;
	}
	.rooms42-container {
		background-color: rgba(18, 18, 18, 0.9);
	}
	.hoverable:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
	.calendar-container .calendar {
		background-color: rgba(255, 255, 255, 0.1);
		outline: 1px white solid;
	}
}

body {
	position: absolute;
	width: 100vw;
	max-height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	.center {
		margin: auto;
		text-align: center;
	}
	.alerts42-box {
		display: block;
		width: 100%;
		font-size: 30px;
		text-align: center;
		color: $text-secondary;
		// opacity: 0.5;
		* {
			display: block;
		}
		.notice-box {
			background-color: $intra-green;
		}
		.alert-box {
			background-color: $intra-red;
		}
	}
	.rooms42-navbar {
		z-index: 5;
		position: fixed;
		height: 50px;
		width: 100vw;
		margin: 0;
		display: flex;
		justify-content: space-around;
		background-color: $bg-dark;
		a {
			display: block;
			height: 50px;
			padding: 0 1rem;
			&:hover {
				background-color: rgba(0, 0, 0, 0.3);
			}
			&:hover .user-card {
				display: block;
			}
			svg {
				height: 50px;
				fill: $intra-blue;
			}
			.user-card {
				position: absolute;
				display: none;
				min-width: 20vw;
				top: 34px;
				right: 0;
				background-color: $bg-secondary;
				li {
					color: $text-secondary;
				}
			}
		}
	}
	.background {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		position: absolute;
		z-index: 1;
		div {
			width: 200vw;
			height: 200vh;
			background-size: cover;
			animation: 80s background-animation ease-in-out infinite;
			background-image: url("https://profile.intra.42.fr/assets/background_login-a4e0666f73c02f025f590b474b394fd86e1cae20e95261a6e4862c2d0faa1b04.jpg");
		}
		@keyframes background-animation {
			0% {transform: translate(-10%, -10%);}
			10% {transform: translate(-20%, 0%);}
			20% {transform: translate(-50%, -40%);}
			30% {transform: translate(-20%, -20%);}
			40% {transform: translate(-5%, -5%);}
			50% {transform: translate(-15%, 0);}
			60% {transform: translate(-50%, -20%);}
			70% {transform: translate(-30%, -50%);}
			80% {transform: translate(-20%, -40%);}
			90% {transform: translate(0%, -10%);}
			100% {transform: translate(0, 0);}
		}
	}
	.rooms42-container {
		position: relative;
		z-index: 2;
		margin: auto;
		max-width: 1600px;
		height: 100vh;
		overflow: scroll; 
		.container-body {
			margin-top: 50px;
			padding: 0 1rem 1rem 1rem;
			.rooms-cards {
				.campus-card {
					padding: 0.25rem;
				}
				.room-card {
					padding: 0 1rem 1rem 1rem;
					h2 {
						display: inline-block;
					}
					* {
						text-decoration: none;
					}
					&:hover * {
						text-decoration: underline;
					}
					.flex-separator {
						display: flex !important;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						flex-wrap: wrap;
						gap: 1rem;
						.stats { 
							svg {
								width: 50px;
								height: auto;
								&:hover {
									background-color: purple;
								}
							}
							&:active .popup {
								display: block;
							}
							.popup {
								display: none;
								position: fixed;
								z-index: 15;
								top: 20vh;
								left: 0;
								padding: 0;
								border: 0;
								text-align: center;
								background-color: lightgray;
								overflow: hidden;
								width: 100vw;
								height: auto;
								min-height: 400px;
							}
						}
					}
					.flex-separator .info {
						width: 400px;
						h2 {}
						h4 {}
						h5 {
							margin: 0.5rem 0;
						}
						h6 {
							margin: 0;
						}
					}
					details {
						summary {
							font-size: 110%;
						}
						ul {
							li {

							}
						}
					}
				}
			}
			.calendar-container {
				text-align: center;
				.calendar {
					margin: 0.25rem auto;
					border-radius: 0.5rem;
					max-width: 1000px;
					.reservations-slots {
						margin: 0;
						padding: 0;
						border: none;
						* {
							border: none;
						}
						tbody {
							tr {
								display: block;
								height: 30.5px !important; 
								th {
									position: relative;
									max-height: 30.5px;
									display: flex;
									justify-content: start;
									gap: 1rem;
									flex-wrap: no-wrap;
									flex-direction: row;
									.add-reservation-button {
										display: none;
										height: 20px;
										background-color: $intra-blue;
										border-radius: 50%;
										button, button svg {
											background-color: transparent;
											display: block;
											margin: 0;
											padding: 0;
											width: 20px;
											height: 20px;
											fill: $text-light;
											cursor: pointer;
										}
									}
								}
								a {
									text-decoration: none;
								}
								&:hover .add-reservation-button {
									display: block;
								}
								&:nth-child(even) {
									background-color: rgba(0, 0, 0 , 0.2);
		   					}
		   				}
						}
					}
				}
				.dot-content {
					padding: 1rem;
					margin: auto;
					span {
						margin-left: 1rem;
					}
				}
			}
		}
	}
}
#reservation-form {
	z-index: 20;
	opacity: 0.98;
	position: fixed;
	background-color: $bg-dark;
	border: 5px $intra-blue solid;
	border-radius: 1rem;
	height: 80vh;
	width: 40vw;
	left: 30%;
	top: 10%;
	// overflow-y: scroll;
	display: none;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	color: $intra-blue !important;
	text-align: center;
	.field {
		padding: 1rem;
		margin-bottom: 0.5rem;
		label {
			display: block;
			text-align: center;
			padding: 0.5rem;
			font-size: 110%;
			text-decoration: underline;
		}
		select {
			font-size: 110%;
			padding: 0.5rem;
		}
		.date-input {
			font-size: 150%;
		}
	}
	.submit-button {
		padding: 1rem;
		background-color: $intra-green;
		color: $text-light !important;
		border-radius: 1rem;
		border: none;
		cursor: pointer;
		font-size: 110%;
		&:hover {
			opacity: 0.6;
		}
		&:focus {
			opacity: 1;
		}
	}
	.close-form {
		position: absolute;
		top: 0;
		right: 0;
		padding: 1rem;
		background-color: $intra-red;
		border: none;
		border-radius: 0 10px 0 1rem;
		color: $text-light !important;
	}
	* {
		color: $intra-blue !important;
	}
}
.dot-1, .dot-2, .dot-3, .dot-4, .dot-5 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  .reservation-info {
  	z-index: 10;
  	position: absolute;
  	background-color: $bg-secondary;
		white-space: nowrap;
		margin: auto;
		text-align: center;
		min-width: 150px;
		max-width: 150px;
		overflow: scroll;
		left: -150px;
		top: 0;
		border-radius: 1rem;
		padding: 0.5rem 0.15rem;
		display: none;
		p {
			margin: 0.15rem;
			color: $intra-blue;
		}
  }
  &:hover .reservation-info {
  	display: inline-block;
  }
  &:hover {
  	background-color: $intra-blue;
  }
}

.dot-1 {background-color: yellow;}
.dot-2 {background-color: orange;}
.dot-3 {background-color: pink;}
.dot-4 {background-color: brown;}
.dot-5 {background-color: cyan;}
/* CALENDAR STYLE :D */
.simple-calendar {
	overflow-y: hidden;
	overflow-x: scroll;
  min-height: 70vh;
  .calendar-heading {
  	text-align: center;
		position: relative;
  	h1 {
  		text-decoration: underline;
  		display: inline;
  		padding: 0;
  		margin: 0;
  	}
  	.calendar-week-number {
  		position: absolute;
  		top: 50%;
  		left: 2.5%;
  		transform: translate(2.5%, -50%);
  	}
  	.calendar-next-prev {
  		position: absolute;
  		right: 0;
  		border-radius: 0 0.5rem 0 0;
  		background-color: $bg-secondary;
  		text-decoration: none !important;
  		a {
  			padding: 0 1rem;
  			color: gray;
  			text-decoration: none !important;
  			&:nth-child(1) {
  				border-right: 1px solid gray;
  			}
  			&:nth-child(2) {
  				border-left: 1px solid gray;
  			}
  		}
  	}
  }
  .table {
  	thead tr th{
  		text-align: center;
  		border-left: none;
  		border-right: none;
  	}
    tbody {
   		tr .time {
   			border: none;
   			padding: 0;
   			min-width: 100px;
   			* {
   				text-align: center;
   				white-space: nowrap;
   				border: none;
   			}
   			table * {
   				border: none;
   			}
   			table tr {
   				height: 30.5px !important;
   				padding: 0;
   			}
   			table tr:nth-child(even) {
   				background-color: rgba(0, 0, 0 , 0.2);
   			}
   		} 	
    }
  }

  .day {
  	padding: 0;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
  	background-color: $intra-green;
  }
  .past {}
  .future {}

  .start-date {}
  .prev-month {}
  .prev-month, .next-month {
  	background-color: $bg-secondary;
  	color: transparent;
  }
  .next-month {}
  .current-month {}

  .has-events {}
}
